body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Black", sans-serif;
  font-weight: bolder;
}

.container-fluid {
  padding: 7% 15%;
}

/* Heading */
.big-heading {
  color: #fff;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 2.5rem;
}

/* Color & Typo of section */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Nav Navigation */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light", sans-serif;
}

/* Title */
#title {
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Download button */
.download-btn {
  margin: 5% 3%;
}

/* Creatures */
#features {
  position: relative;
}

#features-box {
  padding: 4.5%;
}

.features-box > p {
  color: #8f8f8f;
}

.icon {
  color: #ef8172;
  margin-bottom: 1.2rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials */
#testimonials {
  background-color: #ef8172;
}

#testimonials .container-fluid {
  padding: 7% 15% 2%;
}

.testimonial-text {
  color: #fff;
  padding-bottom: 3%;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press */
#press {
  background-color: #ef8172;
}

.logo-img {
  width: 20%;
  padding-left: 20px;
  padding-right: 20px;
}

/* Pricing  */

.pricing-col {
  padding: 5% 3%;
}

/* Cta section */

/* Footer section */

#footer i {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }
}
@media (max-width: 662px) {
  .logo-img {
    width: 22%;
  }
}
